.idea/vcs.xml
Product/__pycache__/__init__.cpython-312.pyc
Product/__pycache__/admin.cpython-312.pyc
Product/__pycache__/apps.cpython-312.pyc
Product/__pycache__/models.cpython-312.pyc
Product/__pycache__/serializers.cpython-312.pyc
Product/__pycache__/urls.cpython-312.pyc
Product/__pycache__/views.cpython-312.pyc
Product/migrations/__pycache__/__init__.cpython-312.pyc
Product/migrations/__pycache__/0001_initial.cpython-312.pyc
Product/migrations/__pycache__/0002_rename_product_products.cpython-312.pyc
vatrak/__pycache__/__init__.cpython-312.pyc
vatrak/__pycache__/settings.cpython-312.pyc
vatrak/__pycache__/urls.cpython-312.pyc
vatrak/__pycache__/wsgi.cpython-312.pyc
Order/__pycache__/__init__.cpython-312.pyc
Order/__pycache__/admin.cpython-312.pyc
Order/__pycache__/apps.cpython-312.pyc
Order/__pycache__/models.cpython-312.pyc
Order/__pycache__/serializers.cpython-312.pyc
Order/__pycache__/urls.cpython-312.pyc
Order/__pycache__/views.cpython-312.pyc
Device/__pycache__/__init__.cpython-312.pyc
Device/__pycache__/admin.cpython-312.pyc
Device/__pycache__/apps.cpython-312.pyc
Device/__pycache__/models.cpython-312.pyc
Cart/__pycache__/__init__.cpython-312.pyc
Cart/__pycache__/admin.cpython-312.pyc
Cart/__pycache__/apps.cpython-312.pyc
Cart/__pycache__/models.cpython-312.pyc
Cart/__pycache__/serializers.cpython-312.pyc
Cart/__pycache__/urls.cpython-312.pyc
Cart/__pycache__/views.cpython-312.pyc
Cart/migrations/__pycache__/__init__.cpython-312.pyc
Cart/migrations/__pycache__/0001_initial.cpython-312.pyc
Device/migrations/__pycache__/__init__.cpython-312.pyc
Device/migrations/__pycache__/0001_initial.cpython-312.pyc
Order/migrations/__pycache__/__init__.cpython-312.pyc
Order/migrations/__pycache__/0001_initial.cpython-312.pyc
Order/migrations/__pycache__/0002_alter_orders_product.cpython-312.pyc
Order/migrations/__pycache__/0003_alter_orders_product.cpython-312.pyc
Order/migrations/__pycache__/0004_alter_orders_cart_alter_orders_product.cpython-312.pyc
Device/migrations/__pycache__/0002_remove_devices_total.cpython-312.pyc
Device/__pycache__/serializers.cpython-312.pyc
Report/__pycache__/__init__.cpython-312.pyc
Report/__pycache__/admin.cpython-312.pyc
Report/__pycache__/apps.cpython-312.pyc
Report/__pycache__/models.cpython-312.pyc
Report/migrations/__pycache__/__init__.cpython-312.pyc
Report/migrations/__pycache__/0001_initial.cpython-312.pyc
Report/migrations/__pycache__/0002_alter_reports_date.cpython-312.pyc
Report/migrations/__pycache__/0002_reports_order_date_alter_reports_date.cpython-312.pyc
Report/migrations/__pycache__/0003_reports_order_date_alter_reports_date.cpython-312.pyc
Report/migrations/__pycache__/0004_alter_reports_date_alter_reports_order_date.cpython-312.pyc
