.idea/vcs.xml
Product/__pycache__/
Product/migrations/__pycache__/
Order/__pycache__/
Device/__pycache__/
Cart/__pycache__/
Cart/migrations/__pycache__/
Device/migrations/__pycache__/
Order/migrations/__pycache__/
Report/__pycache__/
Report/migrations/__pycache__/
Category/__pycache__/
Category/migrations/
vatrak/__pycache__/
